{% extends "base.html" %}
{% comment %}
  Main page of cormetur
{% endcomment %}

{% block content %}
    
    <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <p>
         <h2>A spectroscopic census in young stellar regions: the σ Orionis cluster</h2>
        </p>
        <p>
        
          <center>
           Jesús Hernández<sup>1</sup>
           Nuria Calvet<sup>2</sup>
           Alice Perez<sup>1</sup>
           Cesar Briceño<sup>1</sup>
           Lorenzo Olguin<sup>4</sup>
           Maria E. Contreras<sup>5</sup>
           Lee Hartmann<sup>2</sup>
           Lori Allen<sup>6</sup>
           Catherine Espaillat<sup>7</sup>
           Ramírez Hernan<sup>1</sup>
           <center>
        
         
 
      <h3>ABSTRACT</h3>

      <p>
        We present a spectroscopic survey of the stellar population of the σ Orionis cluster.
        We have obtained spectral types for 340 stars. Spectroscopic data for spectral typing
        come from several spectrographs with similar spectroscopic coverage and resolution.
        More than a half of stars of our sample are members confirmed by the presence of
        lithium in absorption, strong Hα in emission or weak gravity-sensitive features. In
        addition, we have obtained high resolution (R∼34000) spectra in the Hα region for
        169 stars in the region. Radial velocities were calculated from this data set. The radial
        velocity distribution for members of the cluster is in agreement with previous work.
        Analysis of the profile of the Hα line and infrared observations reveals two binary
        systems or fast rotators that mimic the Hα width expected in stars with accretion disks.
        On the other hand there are stars with optically thick disks and narrow Hα profile
        not expected in stars with accretion disks. This contribution constitutes the largest
        homogeneous spectroscopic data set of the σ Orionis cluster to date.
        Subject headings: infrared: stars: formation - stars: pre-main sequence - open cluster
        and associations: individual ( σ Orionis cluster) protoplanetary systems: protoplanetary disk

      </p>

      <p>
      
         <sup>1</sup> Centro de Investigaciones de Astronomía, Apdo. Postal 264, Mérida 5101-A, Venezuela.<br>
         <sup>2</sup> Department of Astronomy, University of Michigan, 500 Church Street, Ann Arbor, MI 48109, US<br>
         <sup>3</sup> Departamento de Física, Universidad de Oriente, Venezuela<br>
         <sup>4</sup>  Depto. de Investigación en Física, Universidad de Sonora, Sonora, México<br>
         <sup>5</sup> Instituto de Astronomía, Universidad Nacional Autónoma de México, Ensenada, BC, México<br>
         <sup>6</sup> NOAO, USA<br>
         <sup>7</sup> Boston University, Boston, MA 02215<br>
        
      </div>

 
{% endblock %}
